In [705]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [706]:
train_df = pd.read_csv("train.csv")
train_df[:5]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [707]:
test_df = pd.read_csv("test.csv")
test_df[:5]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Dataset Imputation

### • Drop columns PassengerID, Name, Ticket, Cabin.

#### For Train File

In [721]:
train_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [722]:
b = [0,3,8,10]
train_df1 = train_df.drop(train_df.columns[b],1)
train_df1.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

#### For Test File

In [723]:
test_df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [724]:
b = [0,2,7,9]
test_df1 = test_df.drop(test_df.columns[b],1)
test_df1.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

### • Fill NAs values in Embark with the most common category

#### For Train File

In [725]:
train_df1['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [726]:
# The most common category is 'S'
# Fill NAs in Embarked with S
train_df1["Embarked"] = train_df1["Embarked"].fillna('S')

In [727]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

#### For Test File

In [728]:
test_df1['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [729]:
# The most common category is 'S'
# Fill NAs in Embarked with S
test_df1["Embarked"] = test_df1["Embarked"].fillna('S')

In [730]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

### • Fill NAs values in Fare with the median value in that column

#### For Train File

In [731]:
median = train_df1["Fare"].median() 
train_df1["Fare"].fillna(median, inplace=True)

In [732]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

#### For Test File

In [733]:
median_test = test_df1["Fare"].median() 
test_df1["Fare"].fillna(median_test, inplace=True)

In [734]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       332 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

### • Fill NAs values in Age with the median value in each of Pclass x Gender combination

#### For Train File

In [735]:
by_sex_class = train_df1.groupby(['Sex', 'Pclass'])

In [736]:
def impute_median(series):
    return series.fillna(series.median())

In [737]:
train_df1.Age = by_sex_class['Age'].transform(impute_median)

In [738]:
train_df1.tail(10)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
881         0       3    male  33.0      0      0   7.8958        S
882         0       3  female  22.0      0      0  10.5167        S
883         0       2    male  28.0      0      0  10.5000        S
884         0       3    male  25.0      0      0   7.0500        S
885         0       3  female  39.0      0      5  29.1250        Q
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female  21.5      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

In [739]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

#### For Test File

In [740]:
by_sex_class_test = test_df1.groupby(['Sex', 'Pclass'])

In [741]:
test_df1.Age = by_sex_class_test['Age'].transform(impute_median)

In [742]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 23.0+ KB

## Perform the following Data cleaning and Feature Engineering steps for both the train and test files.

### • Split column Age into 5 intervals (0, 16, 32, 48, 64, 100) (now categorical)

#### For Train File

In [743]:
train_df1.loc[(train_df1.Age <= 16), 'AgeGroup'] = '0-16'
train_df1.loc[(train_df1.Age > 16) & (train_df1.Age <= 32), 'AgeGroup'] = '16-32'
train_df1.loc[(train_df1.Age > 32) & (train_df1.Age <= 48), 'AgeGroup'] = '32-48'
train_df1.loc[(train_df1.Age > 48) & (train_df1.Age <= 64), 'AgeGroup'] = '48-64'
train_df1.loc[(train_df1.Age > 64) & (train_df1.Age <= 100), 'AgeGroup'] = '64-100'

In [744]:
train_df1.drop(columns = ["Age"],inplace=True)

In [745]:
train_df1.rename(columns = {"AgeGroup":"Age"},inplace=True)

In [746]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
 7   Age       891 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 55.8+ KB

#### For the test data set

In [747]:
test_df1.loc[(test_df1.Age <= 16), 'AgeGroup'] = '0-16'
test_df1.loc[(test_df1.Age > 16) & (test_df1.Age <= 32), 'AgeGroup'] = '16-32'
test_df1.loc[(test_df1.Age > 32) & (test_df1.Age <= 48), 'AgeGroup'] = '32-48'
test_df1.loc[(test_df1.Age > 48) & (test_df1.Age <= 64), 'AgeGroup'] = '48-64'
test_df1.loc[(test_df1.Age > 64) & (test_df1.Age <= 100), 'AgeGroup'] = '64-100'

In [748]:
test_df1.drop(columns = ["Age"],inplace=True)

In [749]:
test_df1.rename(columns = {"AgeGroup":"Age"},inplace=True)

In [750]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   SibSp     418 non-null    int64
 3   Parch     418 non-null    int64
 4   Fare      418 non-null    float64
 5   Embarked  418 non-null    object
 6   Age       418 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 23.0+ KB

### • Split column Fare into 5 intervals (0, 7.9, 14.5, 31,600) (now categorical)

#### For Train File

In [751]:
train_df1.loc[(train_df1.Fare <= 7.9), 'FareGroup'] = '0-7.9'
train_df1.loc[(train_df1.Fare > 7.9) & (train_df1.Fare <= 14.5), 'FareGroup'] = '7.9-14.5'
train_df1.loc[(train_df1.Fare > 14.5) & (train_df1.Fare <= 31), 'FareGroup'] = '14.5-31'
train_df1.loc[(train_df1.Fare > 31) & (train_df1.Fare <= 600), 'FareGroup'] = '31-600'

In [752]:
train_df1.drop(columns = ["Fare"],inplace=True)

In [753]:
train_df1.rename(columns = {"FareGroup":"Fare"},inplace=True)

In [754]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Embarked  891 non-null    object
 6   Age       891 non-null    object
 7   Fare      891 non-null    object
dtypes: int64(4), object(4)
memory usage: 55.8+ KB

#### For Test File

In [755]:
test_df1.loc[(test_df1.Fare <= 7.9), 'FareGroup'] = '0-7.9'
test_df1.loc[(test_df1.Fare > 7.9) & (test_df1.Fare <= 14.5), 'FareGroup'] = '7.9-14.5'
test_df1.loc[(test_df1.Fare > 14.5) & (test_df1.Fare <= 31), 'FareGroup'] = '14.5-31'
test_df1.loc[(test_df1.Fare > 31) & (test_df1.Fare <= 600), 'FareGroup'] = '31-600'

In [756]:
test_df1.drop(columns = ["Fare"],inplace=True)

In [757]:
test_df1.rename(columns = {"FareGroup":"Fare"},inplace=True)

In [758]:
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   SibSp     418 non-null    int64
 3   Parch     418 non-null    int64
 4   Embarked  418 non-null    object
 5   Age       418 non-null    object
 6   Fare      418 non-null    object
dtypes: int64(3), object(4)
memory usage: 23.0+ KB

### • Create column Size by adding values from columns SibSp, Parch, then drop them keeping the created column.

#### For Train File

In [759]:
train_df1["Size"] = train_df1.SibSp + train_df1.Parch

In [760]:
train_df1.drop(columns = ["SibSp"],inplace=True)
train_df1.drop(columns = ["Parch"],inplace=True)

In [761]:
train_df1

     Survived  Pclass     Sex Embarked    Age      Fare  Size
0           0       3    male        S  16-32     0-7.9     1
1           1       1  female        C  32-48    31-600     1
2           1       3  female        S  16-32  7.9-14.5     0
3           1       1  female        S  32-48    31-600     1
4           0       3    male        S  32-48  7.9-14.5     0
..        ...     ...     ...      ...    ...       ...   ...
886         0       2    male        S  16-32  7.9-14.5     0
887         1       1  female        S  16-32   14.5-31     0
888         0       3  female        S  16-32   14.5-31     3
889         1       1    male        C  16-32   14.5-31     0
890         0       3    male        Q  16-32     0-7.9     0

[891 rows x 7 columns]

#### For Test File

In [762]:
test_df1["Size"] = test_df1.SibSp + test_df1.Parch

In [763]:
test_df1.drop(columns = ["SibSp"],inplace=True)
test_df1.drop(columns = ["Parch"],inplace=True)
test_df1

     Pclass     Sex Embarked    Age      Fare  Size
0         3    male        Q  32-48     0-7.9     0
1         3  female        S  32-48     0-7.9     1
2         2    male        Q  48-64  7.9-14.5     0
3         3    male        S  16-32  7.9-14.5     0
4         3  female        S  16-32  7.9-14.5     2
..      ...     ...      ...    ...       ...   ...
413       3    male        S  16-32  7.9-14.5     0
414       1  female        C  32-48    31-600     0
415       3    male        S  32-48     0-7.9     0
416       3    male        S  16-32  7.9-14.5     0
417       3    male        C  16-32   14.5-31     2

[418 rows x 6 columns]

### • Create binary column Alone with value 1 (if passenger travels alone) and 0 otherwise.

#### For Train File

In [764]:
len(train_df1.Size)

891

In [765]:
alone = []
for i in range(0,891):
        if train_df1.Size[i] == 0:
            alone.append(1)
        elif train_df1.Size[i] >= 1:
            alone.append(0)

In [766]:
train_df1["Alone"] = alone
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Embarked  891 non-null    object
 4   Age       891 non-null    object
 5   Fare      891 non-null    object
 6   Size      891 non-null    int64
 7   Alone     891 non-null    int64
dtypes: int64(4), object(4)
memory usage: 55.8+ KB

In [767]:
train = pd.get_dummies(train_df1,columns = ['Alone'], drop_first=True)
train.rename(columns = {"Alone_1":"Alone"},inplace=True)

In [768]:
train.head()

   Survived  Pclass     Sex Embarked    Age      Fare  Size  Alone
0         0       3    male        S  16-32     0-7.9     1      0
1         1       1  female        C  32-48    31-600     1      0
2         1       3  female        S  16-32  7.9-14.5     0      1
3         1       1  female        S  32-48    31-600     1      0
4         0       3    male        S  32-48  7.9-14.5     0      1

#### For Test File

In [769]:
len(test_df1.Size)

418

In [770]:
alone = []
for i in range(0,418):
        if test_df1.Size[i] == 0:
            alone.append(1)
        elif test_df1.Size[i] >= 1:
            alone.append(0)

In [771]:
test_df1["Alone"] = alone
test_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Embarked  418 non-null    object
 3   Age       418 non-null    object
 4   Fare      418 non-null    object
 5   Size      418 non-null    int64
 6   Alone     418 non-null    int64
dtypes: int64(3), object(4)
memory usage: 23.0+ KB

In [772]:
test = pd.get_dummies(test_df1,columns = ['Alone'], drop_first=True)
test.rename(columns = {"Alone_1":"Alone"},inplace=True)
test

     Pclass     Sex Embarked    Age      Fare  Size  Alone
0         3    male        Q  32-48     0-7.9     0      1
1         3  female        S  32-48     0-7.9     1      0
2         2    male        Q  48-64  7.9-14.5     0      1
3         3    male        S  16-32  7.9-14.5     0      1
4         3  female        S  16-32  7.9-14.5     2      0
..      ...     ...      ...    ...       ...   ...    ...
413       3    male        S  16-32  7.9-14.5     0      1
414       1  female        C  32-48    31-600     0      1
415       3    male        S  32-48     0-7.9     0      1
416       3    male        S  16-32  7.9-14.5     0      1
417       3    male        C  16-32   14.5-31     2      0

[418 rows x 7 columns]

### Use get_dummies to convert categorical to binary columns.

#### For Train File

In [773]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Embarked  891 non-null    object
 4   Age       891 non-null    object
 5   Fare      891 non-null    object
 6   Size      891 non-null    int64
 7   Alone     891 non-null    uint8
dtypes: int64(3), object(4), uint8(1)
memory usage: 49.7+ KB

In [774]:
train = pd.get_dummies(train,columns = ['Sex', 'Embarked', 'Age', 'Fare'],drop_first=True)

In [775]:
train.head()

,Survived,Pclass,Size,Alone,Sex_male,Embarked_Q,Embarked_S,Age_16-32,Age_32-48,Age_48-64,Age_64-100,Fare_14.5-31,Fare_31-600,Fare_7.9-14.5
0,0,3,1,0,1,0,1,1,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,1,0,0,0,1,0
2,1,3,0,1,0,0,1,1,0,0,0,0,0,1
3,1,1,1,0,0,0,1,0,1,0,0,0,1,0
4,0,3,0,1,1,0,1,0,1,0,0,0,0,1

#### For Test File

In [777]:
test = pd.get_dummies(test,columns = ['Sex', 'Embarked', 'Age', 'Fare'],drop_first=True)

In [778]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pclass         418 non-null    int64
 1   Size           418 non-null    int64
 2   Alone          418 non-null    uint8
 3   Sex_male       418 non-null    uint8
 4   Embarked_Q     418 non-null    uint8
 5   Embarked_S     418 non-null    uint8
 6   Age_16-32      418 non-null    uint8
 7   Age_32-48      418 non-null    uint8
 8   Age_48-64      418 non-null    uint8
 9   Age_64-100     418 non-null    uint8
 10  Fare_14.5-31   418 non-null    uint8
 11  Fare_31-600    418 non-null    uint8
 12  Fare_7.9-14.5  418 non-null    uint8
dtypes: int64(2), uint8(11)
memory usage: 11.1 KB

### The test.csv file from kaggle does not include Survived. So split the train set into new train and test subsets. Use the train subset to fit the following models
Use GridSearchCV to find best hyperparameter values. Report the test accuracy rate (using the test subset). Try to improve the test accuracy rate (include polynomial and/or interaction terms or use other machine/satistical method or any other mean).

In [779]:
from sklearn.model_selection import KFold, cross_val_score 
from sklearn.model_selection import train_test_split

In [780]:
X = train.drop('Survived',axis = 1) 
y = train.Survived

In [781]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    train_size = 0.4,
                                                    test_size = 0.6, 
                                                    stratify = y, 
                                                    random_state = 0)

### • KNN

In [782]:
from sklearn.neighbors import KNeighborsClassifier

In [783]:
training_accuracy = []
test_accuracy = []
nn = range(1,30)

In [784]:
for k in nn:
    m_knn = KNeighborsClassifier(n_neighbors=k)
    m_knn.fit(X_train, y_train)
    training_accuracy.append(m_knn.score(X_train,y_train))
    test_accuracy.append(m_knn.score(X_test,y_test))

In [785]:
max_knn = max(test_accuracy)
max_knn

0.7738317757009345

In [786]:
test_accuracy.index(max(test_accuracy))

6

In [787]:
m_knn0 = KNeighborsClassifier(n_neighbors=2)
m_knn0.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

### • Support Vector Classifier

In [788]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [789]:
param_grid={'C':[0.001,0.011,0.01,0.1,5,10]}

In [790]:
clf = GridSearchCV(SVC(kernel='linear'),param_grid,cv=10,
                  scoring = 'accuracy',return_train_score=True)
clf.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='linear', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.001, 0.011, 0.01, 0.1, 5, 10]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='accuracy', verbose=0)

In [791]:
clf.best_params_

{'C': 0.1}

In [792]:
svc2 = SVC(C=0.1,kernel='linear')
svc2.fit(X_train,y_train)
svc2.score(X_test,y_test)

0.7981308411214953

### • Logistic Regression

In [798]:
from sklearn.linear_model import LogisticRegression

In [799]:
m_lr = LogisticRegression(solver = 'lbfgs',max_iter=10000)
m_lr.fit(X_train,y_train)

m_lr.score(X_test,y_test)

0.7962616822429907

### • Random Forest

In [800]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [801]:
m_rf = RandomForestClassifier(random_state=0)
param_grid = [{'n_estimators': [10,50,100,1000], 
               'max_depth': [5, 10, 15, 20],
               'max_features': [3,5,7,8,9]}]

In [802]:
grid = GridSearchCV(m_rf,param_grid,
                    scoring = 'accuracy',
                    cv = 5, iid = False)

In [803]:
grid.fit(X_train,y_train)

/Users/mengkaiqi/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid=False, n_jobs=None,
             param_grid=[{'max_depth': [5, 10, 15, 20],
                          'max_features': [3, 5, 7, 8, 9],
                          'n_estimators': [10, 50, 100, 1000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [804]:
grid.best_params_

{'max_depth': 5, 'max_features': 3, 'n_estimators': 100}

In [805]:
grid.score(X_test,y_test)

0.8093457943925234

### • Gradient Boosting

In [806]:
from sklearn.ensemble import GradientBoostingClassifier

In [807]:
m_gbc = GradientBoostingClassifier(random_state=0)

In [808]:
param_grid_gbc = [{'n_estimators': [10,50,100,1000], 
               'max_depth': [5, 10, 15, 20],
               'max_features': [3,5,6,7,8,9],
               'learning_rate': [0.1,0.5,1.0]}]

In [809]:
grid_gbc = GridSearchCV(m_gbc,param_grid_gbc,
                    scoring = 'accuracy',
                    cv = 5, iid = False)

In [810]:
grid_gbc.fit(X_train,y_train)

/Users/mengkaiqi/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

GridSearchCV(cv=5, error_score=nan,
             estimator=GradientBoostingClassifier(ccp_alpha=0.0,
                                                  criterion='friedman_mse',
                                                  init=None, learning_rate=0.1,
                                                  loss='deviance', max_depth=3,
                                                  max_features=None,
                                                  max_leaf_nodes=None,
                                                  min_impurity_decrease=0.0,
                                                  min_impurity_split=None,
                                                  min_samples_leaf=1,
                                                  min_samples_split=2,
                                                  min_weight_fraction_leaf=0.0,
                                                  n_estimators=100,
                                                  n_iter_no_c...
                                                  presort='deprecated',
                                                  random_state=0, subsample=1.0,
                                                  tol=0.0001,
                                                  validation_fraction=0.1,
                                                  verbose=0, warm_start=False),
             iid=False, n_jobs=None,
             param_grid=[{'learning_rate': [0.1, 0.5, 1.0],
                          'max_depth': [5, 10, 15, 20],
                          'max_features': [3, 5, 6, 7, 8, 9],
                          'n_estimators': [10, 50, 100, 1000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [811]:
grid_gbc.best_params_

{'learning_rate': 1.0, 'max_depth': 5, 'max_features': 7, 'n_estimators': 100}

In [812]:
grid_gbc.score(X_test,y_test)

0.77196261682243

### Use GridSearchCV to find best hyperparameter values. Report the test accuracy rate (using the test subset). Try to improve the test accuracy rate (include polynomial and/or interaction terms or use other machine/satistical method or any other mean).

### Build a interaction column

In [813]:
women = train_df.loc[train_df.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)
rate_women

0.7420382165605095

In [814]:
men = train_df.loc[train_df.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)
rate_men

0.18890814558058924

In [815]:
# There is a huge difference between men and women
# According to the history, the 1 st class passengers have more lifeboats per person on average
# So I add a column named 'Survival Priority' = ‘Pclass’ + ‘Sex_male’
# If a passenger has 1st class ticket and is a woman, then she will have the top priority

In [836]:
train_inter = train
train_inter['Survival Priority'] = train_inter.Sex_male + train_inter.Pclass

In [837]:
test_inter = test
test_inter['Survival Priority'] = test_inter.Sex_male + test_inter.Pclass

In [818]:
X_1 = train_inter.drop('Survived',axis = 1) 
y_1 = train_inter.Survived

In [819]:
X_train, X_test, y_train, y_test = train_test_split(X_1, y_1,
                                                    train_size = 0.4,
                                                    test_size = 0.6, 
                                                    stratify = y, 
                                                    random_state = 0)

### For Random Forest

In [820]:
grid_in = GridSearchCV(m_rf,param_grid,
                    scoring = 'accuracy',
                    cv = 5, iid = False)
grid_in.fit(X_train,y_train)

/Users/mengkaiqi/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:823: FutureWarning: The parameter 'iid' is deprecated in 0.22 and will be removed in 0.24.
  "removed in 0.24.", FutureWarning

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid=False, n_jobs=None,
             param_grid=[{'max_depth': [5, 10, 15, 20],
                          'max_features': [3, 5, 7, 8, 9],
                          'n_estimators': [10, 50, 100, 1000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [821]:
grid_in.best_params_

{'max_depth': 5, 'max_features': 7, 'n_estimators': 1000}

In [822]:
grid_in.score(X_test,y_test)

0.8

### For Logistic Regression

In [823]:
m_lr.fit(X_train,y_train)
m_lr.score(X_test,y_test)

0.7962616822429907

In [840]:
y_pred = m_lr.predict(test_inter)
predictions = pd.DataFrame({'PassengerId':test_df.PassengerId, 'Survived': y_pred})
predictions.to_csv('predictions.csv',index=False)

In [841]:
predictions

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]